In [3]:
%autosave 20

Autosaving every 20 seconds

In [4]:
import pandas as pd
import numpy as np

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# California data

In [5]:
#ca_checklist = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/California Search Data/California Data checklist.xlsx', sheet=)
ca= pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/California Search Data/California Search Data 2019-2021.xlsx', sheet_name='Aggregated')

In [4]:
#ca_checklist.head()

In [6]:
ca.head(10)

        Date  Search Search term          Region
0 2019-01-06      24    calfresh  Los Angeles CA
1 2019-01-13      34    calfresh  Los Angeles CA
2 2019-01-20      26    calfresh  Los Angeles CA
3 2019-01-27      26    calfresh  Los Angeles CA
4 2019-02-03      28    calfresh  Los Angeles CA
5 2019-02-10      20    calfresh  Los Angeles CA
6 2019-02-17      21    calfresh  Los Angeles CA
7 2019-02-24      27    calfresh  Los Angeles CA
8 2019-03-03      20    calfresh  Los Angeles CA
9 2019-03-10      20    calfresh  Los Angeles CA

In [7]:
ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3120 non-null   datetime64[ns]
 1   Search       3120 non-null   int64
 2   Search term  3120 non-null   object
 3   Region       3120 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 97.6+ KB

In [8]:
ca['Search'].nlargest()

66     100
221    100
377    100
469    100
625    100
Name: Search, dtype: int64

In [9]:
ca['State'] = 'California'

In [10]:
ca['Year'] = ca['Date'].dt.year.astype('Int64')
ca['Month'] = ca['Date'].dt.month.astype('Int64')

In [11]:
ca.Region.unique()

array(['Los Angeles CA', 'Sacramento-Stockton-Modesto CA', 'San Diego CA',
       'San Francisco-Oakland-San Jose CA'], dtype=object)

In [12]:
ca.head()

        Date  Search Search term          Region       State  Year  Month
0 2019-01-06      24    calfresh  Los Angeles CA  California  2019      1
1 2019-01-13      34    calfresh  Los Angeles CA  California  2019      1
2 2019-01-20      26    calfresh  Los Angeles CA  California  2019      1
3 2019-01-27      26    calfresh  Los Angeles CA  California  2019      1
4 2019-02-03      28    calfresh  Los Angeles CA  California  2019      2

### California search words: 'calfresh' is different from TX's 'snap'

In [13]:
set(ca['Search term'].values)

{'calfresh',
 'food bank',
 'food pantry',
 'food stamps',
 'supplemental nutrition assistance program'}

# Texas data

In [14]:
paths = ['/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/allsupplement',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/foodbank',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/snap',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/foodstamps',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/foodpantry']

## allsupplement

In [15]:
# Supplemental Nutrition Assistance Program

supplement = {'Austin':'/Texas Austin Supplemental Nutrition Assistance Program (topic).csv',
             'DFW':     '/Texas DFW Supplemental Nutrition Assistance Program (topic).csv',
             'Houston':  '/Texas Houston Supplemental Nutrition Assistance Program (topic).csv',
             'SanAntonio': '/Texas San Antonio Supplemental Nutrition Assistance Program (topic).csv'}

In [16]:
#Supplemental Nutrition Assistance Program

import glob
import pandas as pd

supplydic = {} # {region:table}

for k,v in supplement.items():
    path = paths[0] # folder
    df = pd.read_csv(path + v)
    supplydic[k] = df

## Foodbank

In [17]:
foodbank = {'Austin': '/Texas Austin food bank.csv',
           'DFW': '/Texas DFW food bank.csv',
           'Houston': '/Texas Houston food bank.csv',
           'SanAntonio': '/Texas San Antonio food bank.csv'}

In [18]:
# foodbank

foodbankdic = {}

for k,v in foodbank.items():
    path = paths[1] # folder
    df = pd.read_csv(path + v)
    foodbankdic[k] = df

## Foodpantry

In [19]:
# food pantry

foodpantry = {'Austin': '/Texas Austin food pantry.csv',
           'DFW': '/Texas DFW food pantry.csv',
           'Houston': '/Texas Houston food pantry.csv',
           'SanAntonio': '/Texas San Antonio food pantry.csv'}

In [20]:
foodpantrydic = {}

for k,v in foodpantry.items():
    path = paths[-1] # folder
    df = pd.read_csv(path + v)
    foodpantrydic[k] = df

In [20]:
#foodpantrydic

## Foodstamps

In [21]:
# food stamps

foodstamps = {'Austin': '/Texas Austin food stamps.csv',
           'DFW': '/Texas DFW food stamps.csv',
           'Houston': '/Texas Houston food stamps.csv',
           'SanAntonio': '/Texas San Antonio food stamps.csv'}

In [22]:
foodstampsdict = {}

for k,v in foodstamps.items():
    path = paths[-2] # folder
    df = pd.read_csv(path + v)
    foodstampsdict[k] = df

## snap

In [23]:
#snap

snap = {'Austin': '/Texas Austin snap.csv',
        'DFW': '/Texas DFW snap.csv',
        'Houston': '/Texas Houston snap.csv',
        'SanAntonio': '/Texas San Antonio snap.csv'}

In [24]:
snapdic = {}

for k,v in snap.items():
    path = paths[-3] # folder
    df = pd.read_csv(path + v)
    snapdic[k] = df

In [25]:
snapdic.keys()

dict_keys(['Austin', 'DFW', 'Houston', 'SanAntonio'])

In [26]:
#snapdic['DFW'].reset_index().drop(index=0).rename(columns={"index": "Date", "Category: All categories": "Search"})

## Combine 4 dics

In [26]:
supplydic['DFW'].reset_index().iloc[5,0][0:4]

'2019'

In [27]:
# import json

li_dic = [supplydic, foodbankdic, foodpantrydic, snapdic, foodstampsdict]
li_dic_name = ['supplemental nutrition assistance program', 'food bank', 'food pantry', 'snap', 'food stamps']
# snap = calfresh in CA data

region = supplydic.keys()


for idx in range(len(li_dic)): #idx of dic

    dic = li_dic[idx]
    SearchWords = li_dic_name[idx]

    for k,v in dic.items(): # region:tables in the dic
        dic[k] = v.reset_index()
        dic[k].drop(index=0, inplace=True)

        # add column
        dic[k]['State'] = 'Texas'
        dic[k]['Region'] = str(k)

        #rename the columns
        dic[k].rename(columns={"index": "Date", "Category: All categories": "Search"}, inplace=True)
        #Search here is the int number


        # del 3 in the end + add columns
        dic[k]['Search term'] = SearchWords

        #Add year and month
        dic[k]['Year'] = '' #5
        dic[k]['Month'] = '' #6
        
        for row in range(len(dic[k])):
            dic[k].iloc[row, 5] = int(dic[k].iloc[row,0][0:4])
            dic[k].iloc[row, 6] = int(dic[k].iloc[row,0][5:7])

In [28]:
#combine all tables

frame = []

for dic in li_dic:
    for k, v in dic.items():
        table = v
        frame.append(table)

result = pd.concat(frame)

In [29]:
set(result['Search term'].values)

{'food bank',
 'food pantry',
 'food stamps',
 'snap',
 'supplemental nutrition assistance program'}

# Combine CA & TE

In [30]:
ca.head(20)

         Date  Search Search term          Region       State  Year  Month
0  2019-01-06      24    calfresh  Los Angeles CA  California  2019      1
1  2019-01-13      34    calfresh  Los Angeles CA  California  2019      1
2  2019-01-20      26    calfresh  Los Angeles CA  California  2019      1
3  2019-01-27      26    calfresh  Los Angeles CA  California  2019      1
4  2019-02-03      28    calfresh  Los Angeles CA  California  2019      2
5  2019-02-10      20    calfresh  Los Angeles CA  California  2019      2
6  2019-02-17      21    calfresh  Los Angeles CA  California  2019      2
7  2019-02-24      27    calfresh  Los Angeles CA  California  2019      2
8  2019-03-03      20    calfresh  Los Angeles CA  California  2019      3
9  2019-03-10      20    calfresh  Los Angeles CA  California  2019      3
10 2019-03-17      17    calfresh  Los Angeles CA  California  2019      3
11 2019-03-24      25    calfresh  Los Angeles CA  California  2019      3
12 2019-03-31      26    calfresh  Los Angeles CA  California  2019      3
13 2019-04-07      23    calfresh  Los Angeles CA  California  2019      4
14 2019-04-14      20    calfresh  Los Angeles CA  California  2019      4
15 2019-04-21      24    calfresh  Los Angeles CA  California  2019      4
16 2019-04-28      23    calfresh  Los Angeles CA  California  2019      4
17 2019-05-05      26    calfresh  Los Angeles CA  California  2019      5
18 2019-05-12      30    calfresh  Los Angeles CA  California  2019      5
19 2019-05-19      31    calfresh  Los Angeles CA  California  2019      5

In [31]:
ca.Search.nlargest()

66     100
221    100
377    100
469    100
625    100
Name: Search, dtype: int64

#### Since the number of Search is index, do not need to do other thing with it.

In [ ]:
#test = ca.copy()

In [ ]:
#test = test.groupby(['State','Region','Year','Month','Search term'])['Search'].mean().to_frame()

In [ ]:
#test

In [32]:
ca.drop(columns='Date', inplace=True)

In [ ]:
# sum the search by each month
#ca = ca.groupby(['State','Region','Year','Month','Search term'])['Search'].sum().to_frame()

In [33]:
ca.Search.nlargest()

66     100
221    100
377    100
469    100
625    100
Name: Search, dtype: int64

In [34]:
ca.isna().sum()

Search         0
Search term    0
Region         0
State          0
Year           0
Month          0
dtype: int64

In [ ]:
#ca_new = ca.reset_index(level=['State', 'Region', 'Year', 'Month', 'Search term'])

In [35]:
ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       3120 non-null   int64
 1   Search term  3120 non-null   object
 2   Region       3120 non-null   object
 3   State        3120 non-null   object
 4   Year         3120 non-null   Int64
 5   Month        3120 non-null   Int64
dtypes: Int64(2), int64(1), object(3)
memory usage: 152.5+ KB

In [36]:
ca.shape

(3120, 6)

### change terms to supplemental nutrition assistance program in result data

In [37]:
result.head()

,Date,Search,State,Region,Search term,Year,Month
1,2019-01-06,56,Texas,Austin,supplemental nutrition assistance program,2019,1
2,2019-01-13,49,Texas,Austin,supplemental nutrition assistance program,2019,1
3,2019-01-20,26,Texas,Austin,supplemental nutrition assistance program,2019,1
4,2019-01-27,30,Texas,Austin,supplemental nutrition assistance program,2019,1
5,2019-02-03,31,Texas,Austin,supplemental nutrition assistance program,2019,2

In [ ]:
# for idx in range(len(result)):
#     if result.iloc[idx, 3] == 'supply':
#         result.iloc[idx, 3] = 'supplemental nutrition assistance program'

In [38]:
# transfer Search to int42
result['Search'] = result['Search'].astype('Int64')

In [46]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 1 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       3120 non-null   Int64
 1   State        3120 non-null   object
 2   Region       3120 non-null   object
 3   Search term  3120 non-null   object
 4   Year         3120 non-null   Int64
 5   Month        3120 non-null   Int64
dtypes: Int64(3), object(3)
memory usage: 244.3+ KB

In [40]:
result.drop(columns='Date', inplace=True)

In [41]:

result['Year'] = result['Year'].astype('Int64')
result['Month'] = result['Month'].astype('Int64')

# for i in range(len(result)):
#     #Year
#     try:
#         result.iloc[i, 4] = int(result.iloc[i, 4])
#     except:
#         print("something wrong here: " + str(i))

In [42]:
result.Year.unique()

<IntegerArray>
[2019, 2020, 2021]
Length: 3, dtype: Int64

In [43]:
result.Region.unique()

array(['Austin', 'DFW', 'Houston', 'SanAntonio'], dtype=object)

In [44]:
ca.Year.unique()

<IntegerArray>
[2019, 2020, 2021]
Length: 3, dtype: Int64

In [45]:
result.Search.nlargest()

125    100
66     100
67     100
125    100
67     100
Name: Search, dtype: Int64

In [ ]:
#te = result.groupby(['State','Region','Year','Month','Search term'])['Search'].sum().to_frame()
#te = te.reset_index(level=['State', 'Region', 'Year', 'Month', 'Search term'])

In [ ]:
#te.head()

In [47]:
final_res = pd.concat([ca, result], join='outer')

In [48]:
final_res.head()

   Search Search term          Region       State  Year  Month
0      24    calfresh  Los Angeles CA  California  2019      1
1      34    calfresh  Los Angeles CA  California  2019      1
2      26    calfresh  Los Angeles CA  California  2019      1
3      26    calfresh  Los Angeles CA  California  2019      1
4      28    calfresh  Los Angeles CA  California  2019      2

In [49]:
final_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6240 entries, 0 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       6240 non-null   Int64
 1   Search term  6240 non-null   object
 2   Region       6240 non-null   object
 3   State        6240 non-null   object
 4   Year         6240 non-null   Int64
 5   Month        6240 non-null   Int64
dtypes: Int64(3), object(3)
memory usage: 359.5+ KB

In [50]:
# output the excal

final_res.to_excel('Combined Research(by Region).xlsx')