In [1]:
%autosave 20

import pandas as pd
import numpy as np

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Autosaving every 20 seconds

In [2]:
# create root df

root = pd.read_excel('RootDatabase.xlsx', index_col=0, dtype={'fipsValue':'object'})

In [3]:
root.head()

,State,County,fipsValue,Population Density,Population,Region
0,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA
1,California,Alpine County,06003,1.6,1202,Sacramento-Stockton-Modesto CA
2,California,Amador County,06005,61.3,37159,Sacramento-Stockton-Modesto CA
3,California,Butte County,06007,132.1,221578,Sacramento-Stockton-Modesto CA
4,California,Calaveras County,06009,43.3,44921,Sacramento-Stockton-Modesto CA

In [4]:
root.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312 entries, 0 to 311
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               312 non-null    object
 1   County              312 non-null    object
 2   fipsValue           312 non-null    object
 3   Population Density  312 non-null    float64
 4   Population          312 non-null    int64
 5   Region              312 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 17.1+ KB

In [5]:
# create 2022 date table

year = [2022]
month = [x for x in range(1, 13)]
time_data = []

for i in range(len(year)):
    
    time_tem = pd.DataFrame(data={
        'Year' : str(year[i]),
        'Month': month
    })
    
    time_data.append(time_tem)

In [6]:
for i in range(len(time_data)-1):
    time_data = time_data[i].merge(time_data[i+1], how='outer')

In [7]:
time_data = time_data[0]

In [8]:
database_2022 = root.assign(foo=1).merge(time_data.assign(foo=1)).drop('foo', 1)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_74006/1769602285.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  database_2022 = root.assign(foo=1).merge(time_data.assign(foo=1)).drop('foo', 1)

In [9]:
database_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 0 to 3743
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               3744 non-null   object
 1   County              3744 non-null   object
 2   fipsValue           3744 non-null   object
 3   Population Density  3744 non-null   float64
 4   Population          3744 non-null   int64
 5   Region              3744 non-null   object
 6   Year                3744 non-null   object
 7   Month               3744 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 263.2+ KB

In [10]:
database_2022.fipsValue.nunique()

312

In [11]:
database_2022.head()

,State,County,fipsValue,Population Density,Population,Region,Year,Month
0,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,1
1,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,2
2,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,3
3,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,4
4,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,5

In [14]:
database_2022.to_excel('rootdatabase_2022_June6.xlsx')