# Download Data

In [1]:
%autosave 20

import pandas as pd
import numpy as np

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Autosaving every 20 seconds

## Disaster_2022

In [ ]:
disaster = pd.read_csv('DisasterDeclarationsSummaries.csv')

In [ ]:
disaster.info( )

In [ ]:
disaster.state.nunique()

In [ ]:
# filter TX and CA

disaster = disaster[(disaster.state == 'TX') | (disaster.state == 'CA')]

In [ ]:
# make date col
disaster['date'] = pd.to_datetime(disaster.declarationDate)

# make Year, Month col
disaster['Year'] = disaster.date.dt.year.astype('Int64')
disaster['Month'] = disaster.date.dt.month.astype('Int64')

# filter year < 2018 and year >2022 year_need = [2019, 2020, 2021]
disaster = disaster[(disaster.Year == 2022)]

In [ ]:
# Create new colomn State and use 'California' and 'Texas' instead

disaster['State'] = disaster['state'].apply(lambda x: 'California' if x == 'CA' else 'Texas')

# drop state col
disaster.drop(columns='state', inplace=True)

disaster.head()

In [ ]:
col_need = ['disasterNumber', 'declarationType', 'incidentType', 'fipsCountyCode', 'designatedArea', 'Year', 'Month', 'State']

disaster = disaster[col_need]

disaster.head()

In [ ]:
# transfer fipsCountyCode to obj

disaster['fipsCountyCode'] = disaster.fipsCountyCode.astype('object')

for i in range(len(disaster)):
    if len(str(disaster.iloc[i, 3])) == 1:
        sq = ('00', str(disaster.iloc[i, 3]) )
        disaster.iloc[i, 3] = ''.join(sq)
    elif len(str(disaster.iloc[i, 3])) == 2:
        sq = ('0', str(disaster.iloc[i, 3]) )
        disaster.iloc[i, 3] = ''.join(sq)
    else:
        pass

In [ ]:
disaster['fipsValue'] = ''


for i in range(len(disaster)):   
    if disaster.iloc[i, -2] == 'Texas':
        te = ('48', str(disaster.iloc[i, 3]))
        fipsValue = ''.join(te)
        disaster.iloc[i, -1] = fipsValue
    else:
        ca = ('06', str(disaster.iloc[i, 3]))
        fipsValue = ''.join(ca)
        disaster.iloc[i, -1] = fipsValue

In [ ]:
disaster.info()

In [ ]:
# count by fipsValue, year, month

disaster = disaster.groupby(['fipsValue', 'Year', 'Month'])['fipsValue'].count().to_frame().rename(columns={'fipsValue':'Disaster'}).reset_index()

In [ ]:
disaster.fipsValue.unique()

In [ ]:
disaster.to_excel('disaster_2022.xlsx')

## Warn_2022

In [ ]:
warn_ca = pd.read_csv('/Users/chensumei/Desktop/Ram Paper/2022 Data/Warn/WARN Notices California_Omer Arain - Sheet1.csv')
warn_tx = pd.read_csv('/Users/chensumei/Desktop/Ram Paper/2022 Data/Warn/WARN Notices Texas_Omer Arain - Sheet1.csv')

In [ ]:
warn_ca.info()

In [ ]:
# need to match empty county by the city in CA

#warn_ca.loc[(warn_ca.County.isna() == True)].City.unique()

#### Filter Month and Year First

In [ ]:

from datetime import datetime

warn_ca['Received Date'] = pd.to_datetime(warn_ca['Received Date'])
warn_tx['Received Date'] = pd.to_datetime(warn_tx['WARN Received Date'])

warn_ca['Year'] = warn_ca['Received Date'].dt.year.astype('int64')
warn_ca['Month'] = warn_ca['Received Date'].dt.month.astype('int64')

warn_tx['Year'] = warn_tx['Received Date'].dt.year.astype('int64')
warn_tx['Month'] = warn_tx['Received Date'].dt.month.astype('int64')


#filter year 2022
warn_ca = warn_ca[(warn_ca.Year == 2022)]
warn_tx = warn_tx[(warn_tx.Year == 2022)]

In [ ]:
#warn_ca.loc[(warn_ca.County.isna() == True)]

In [ ]:
from geopy.geocoders import Nominatim

def find_county(city, state):
    geolocator = Nominatim(user_agent="my-app")
    location = geolocator.geocode(f"{city}, {state}", addressdetails=True)
    
    if location:
        address_components = location.raw['address']
        county = address_components.get('county')
        return county
    
    return None

# Example usage
city = "Sunnyvale"
state = "California"
county = find_county(city, state)

if county:
    print(f"The county for {city}, {state} is {county}.")
else:
    print(f"County information not found for {city}, {state}.")

In [ ]:
warn_ca.County.fillna('Missing', inplace=True)

In [ ]:
warn_ca.head()

In [ ]:
for i in range(len(warn_ca)):
    if warn_ca.iloc[i, 10] == "Missing":
        city = str(warn_ca.iloc[i, 2])
        county = find_county(city, "California")
        warn_ca.iloc[i, 10] = county

In [ ]:
warn_ca.head()

In [ ]:
for i in range(len(warn_ca)):
    if warn_ca.iloc[i, 10] == "Missing":
        print(i)

In [ ]:
warn_ca.County.unique()

In [ ]:
col_need_ca = ['State', 'Number of Workers', 'Received Date','County', 'Year', "Month" ]
col_need_tx = ['State', 'Number of Workers', 'Received Date','County', 'Year', "Month"]

warn_ca = warn_ca[col_need_ca]
warn_tx = warn_tx[col_need_tx]

In [ ]:
warn_ca.info()

In [ ]:
warn_tx.head()

In [ ]:
warn_tx['County'] = warn_tx.County + ' County'

In [ ]:
warn_ca.head()

In [ ]:
warn_tx.head()

In [ ]:
#sum(number of workers) every county every month every year - add column

worker_ca = warn_ca.groupby(['State','Year','Month','County'])['Number of Workers'].sum().to_frame()

In [ ]:
worker_ca = worker_ca.reset_index(level=['State', 'Year', 'Month', 'County'])

In [ ]:
worker_ca.info()

In [ ]:
warn_tx.info()

In [ ]:
#sum(number of workers) every county every month every year - add column

worker_tx = warn_tx.groupby(['State','Year','Month','County'])['Number of Workers'].sum().to_frame()

worker_tx = worker_tx.reset_index(level=['State', 'Year', 'Month', 'County'])

In [ ]:
worker_tx

In [ ]:
warn_2022 = pd.merge(worker_ca, worker_tx, how='outer')

In [ ]:
warn_2022.info()

In [ ]:
warn_2022.head()

In [ ]:
warn_2022.to_excel('warn_2022.xlsx')

## Combine root with warn and disaster

In [35]:
disaster = pd.read_excel('disaster_2022.xlsx', index_col=0, dtype={'fipsValue':'object'})
warn = pd.read_excel('warn_2022.xlsx',index_col=0)

In [36]:
root = pd.read_excel('rootdatabase_2022_June6.xlsx', index_col=0, dtype={'fipsValue':'object'})

In [37]:
root.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 0 to 3743
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               3744 non-null   object
 1   County              3744 non-null   object
 2   fipsValue           3744 non-null   object
 3   Population Density  3744 non-null   float64
 4   Population          3744 non-null   int64
 5   Region              3744 non-null   object
 6   Year                3744 non-null   int64
 7   Month               3744 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 263.2+ KB

In [38]:
root.head()

,State,County,fipsValue,Population Density,Population,Region,Year,Month
0,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,1
1,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,2
2,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,3
3,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,4
4,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,5

In [39]:
warn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251 entries, 0 to 250
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              251 non-null    object
 1   Year               251 non-null    int64
 2   Month              251 non-null    int64
 3   County             251 non-null    object
 4   Number of Workers  251 non-null    int64
dtypes: int64(3), object(2)
memory usage: 11.8+ KB

In [40]:
data_2022 = pd.merge(root, warn, how='left', on=['State', 'County', 'Month', 'Year'])

In [41]:
disaster

   fipsValue  Year  Month  Disaster
0      06017  2022      9         1
1      06043  2022      7         1
2      06059  2022      5         1
3      06061  2022      9         1
4      06065  2022      9         1
5      06093  2022      9         1
6      48035  2022      7         1
7      48133  2022      3         2
8      48221  2022      3         1
9      48221  2022      7         1
10     48425  2022      7         1
11     48441  2022      5         1

In [42]:
col = ['fipsValue', 'Disaster', 'Month']
disaster = disaster[col]

In [43]:
disaster

   fipsValue  Disaster  Month
0      06017         1      9
1      06043         1      7
2      06059         1      5
3      06061         1      9
4      06065         1      9
5      06093         1      9
6      48035         1      7
7      48133         2      3
8      48221         1      3
9      48221         1      7
10     48425         1      7
11     48441         1      5

In [44]:
data_2022 = pd.merge(data_2022, disaster, how='left', on=['fipsValue','Month'])

In [45]:
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 0 to 3743
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               3744 non-null   object
 1   County              3744 non-null   object
 2   fipsValue           3744 non-null   object
 3   Population Density  3744 non-null   float64
 4   Population          3744 non-null   int64
 5   Region              3744 non-null   object
 6   Year                3744 non-null   int64
 7   Month               3744 non-null   int64
 8   Number of Workers   251 non-null    float64
 9   Disaster            12 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 321.8+ KB

In [46]:
data_2022.fillna(0, inplace=True)

In [47]:
data_2022.head()

,State,County,fipsValue,Population Density,Population,Region,Year,Month,Number of Workers,Disaster
0,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,1,258.0,0.0
1,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,2,16.0,0.0
2,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,3,0.0,0.0
3,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,4,240.0,0.0
4,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2022,5,51.0,0.0

### Add google word

In [48]:
google = pd.read_excel('GoogleTrend_2022.xlsx', index_col=0)

In [49]:
google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      420 non-null    object
 1   Search      420 non-null    int64
 2   datetime    420 non-null    datetime64[ns]
 3   Year        420 non-null    int64
 4   Month       420 non-null    int64
 5   Searchterm  420 non-null    object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 23.0+ KB

In [52]:
words = google.Searchterm.unique().tolist()
df_google = []

for word in words:
    cur_df = google.loc[(google.Searchterm == word)]
    name = 'google_' + word
    cur_df.rename(columns={'Search': name}, inplace=True)
    cur_df.drop(columns='Searchterm', inplace=True)
    df_google.append(cur_df)
    
# for idx in range(len(df_google)-1): #0 ~4
#     if 'datetime' not in df_google[0].columns.tolist:
#         df_google[0] = df_google[0].merge(df_google[idx+1], on=['Region', 'Year', 'Month'], how='inner')
#     else:
#         df_google[0] = df_google[0].merge(df_google[idx+1], on=['Region', 'Year', 'Month', 'datetime'], how='outer')

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.rename(columns={'Search': name}, inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.drop(columns='Searchterm', inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.rename(columns={'Search': name}, inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.drop(columns='Searchterm', inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.rename(columns={'Search': name}, inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.drop(columns='Searchterm', inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.rename(columns={'Search': name}, inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.drop(columns='Searchterm', inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.rename(columns={'Search': name}, inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_85657/4275084235.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_df.drop(columns='Searchterm', inplace=True)

In [53]:
df_google = df_google[0].merge(df_google[1]).merge(df_google[2]).merge(df_google[3]).merge(df_google[4])

In [55]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84 entries, 0 to 83
Data columns (total 9 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Region                                            84 non-null     object
 1   google_calfresh                                   84 non-null     int64
 2   datetime                                          84 non-null     datetime64[ns]
 3   Year                                              84 non-null     int64
 4   Month                                             84 non-null     int64
 5   google_foodbank                                   84 non-null     int64
 6   google_foodpantry                                 84 non-null     int64
 7   google_foodstamp                                  84 non-null     int64
 8   google_supplemental nutrition assistance program  84 non-null     int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 6.6+ KB

In [54]:
df_google.head()

,Region,google_calfresh,datetime,Year,Month,google_foodbank,google_foodpantry,google_foodstamp,google_supplemental nutrition assistance program
0,Sacramento-Stockton-Modesto CA,61,2022-09-30,2022,9,19,14,5,13
1,Los Angeles CA,57,2022-09-30,2022,9,8,11,4,9
2,San Diego CA,56,2022-09-30,2022,9,12,10,3,8
3,San Francisco-Oakland-San Jose CA,32,2022-09-30,2022,9,15,12,2,7
4,DFW,1,2022-09-30,2022,9,13,29,9,19

In [57]:
col_match = ['Region', 'Year', 'Month']

In [58]:
final = pd.merge(data_2022, df_google, how='left',on = col_match)

In [59]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 0 to 3743
Data columns (total 16 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   State                                             3744 non-null   object
 1   County                                            3744 non-null   object
 2   fipsValue                                         3744 non-null   object
 3   Population Density                                3744 non-null   float64
 4   Population                                        3744 non-null   int64
 5   Region                                            3744 non-null   object
 6   Year                                              3744 non-null   int64
 7   Month                                             3744 non-null   int64
 8   Number of Workers                                 3744 non-null   float64
 9   Disaster                                          3744 non-null   float64
 10  google_calfresh                                   3744 non-null   int64
 11  datetime                                          3744 non-null   datetime64[ns]
 12  google_foodbank                                   3744 non-null   int64
 13  google_foodpantry                                 3744 non-null   int64
 14  google_foodstamp                                  3744 non-null   int64
 15  google_supplemental nutrition assistance program  3744 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(8), object(4)
memory usage: 497.2+ KB

In [ ]:
#final.to_excel('Database_2022.xlsx')

In [63]:
# create last_date_time
final['last_date_time'] = 0

for i in range(len(final)):
    dtDate = final.iloc[i,11] # 11 is the index of date_time in this step
    final.iloc[i,-1] = dtDate - pd.DateOffset(months=1)  # -1 is the index of last_date_time in this step

### Find last_snap, last_workder, last_disater, last_google words by the key [last_date_time, County and State]

In [64]:
new2=final.copy()

In [65]:
new2['last_snap'] = 0
new2['last_worker'] = 0
new2['last_disaster'] = 0
new2['last_google_calfresh'] = 0
new2['last_google_food_bank'] = 0
new2['last_google_food_pantry'] = 0
new2['last_google_food_stamps'] = 0
new2['last_google_supplemental'] = 0
new2['last_google_snap'] = 0

In [66]:
# get the idx of each col
import collections
clist = list(new2.columns)
lookup = collections.defaultdict(int) # {colname:idx}
for i in range(len(clist)):
    lookup[clist[i]] = i

In [67]:
new2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 0 to 3743
Data columns (total 26 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   State                                             3744 non-null   object
 1   County                                            3744 non-null   object
 2   fipsValue                                         3744 non-null   object
 3   Population Density                                3744 non-null   float64
 4   Population                                        3744 non-null   int64
 5   Region                                            3744 non-null   object
 6   Year                                              3744 non-null   int64
 7   Month                                             3744 non-null   int64
 8   Number of Workers                                 3744 non-null   float64
 9   Disaster                                          3744 non-null   float64
 10  google_calfresh                                   3744 non-null   int64
 11  datetime                                          3744 non-null   datetime64[ns]
 12  google_foodbank                                   3744 non-null   int64
 13  google_foodpantry                                 3744 non-null   int64
 14  google_foodstamp                                  3744 non-null   int64
 15  google_supplemental nutrition assistance program  3744 non-null   int64
 16  last_date_time                                    3744 non-null   object
 17  last_snap                                         3744 non-null   int64
 18  last_worker                                       3744 non-null   int64
 19  last_disaster                                     3744 non-null   int64
 20  last_google_calfresh                              3744 non-null   int64
 21  last_google_food_bank                             3744 non-null   int64
 22  last_google_food_pantry                           3744 non-null   int64
 23  last_google_food_stamps                           3744 non-null   int64
 24  last_google_supplemental                          3744 non-null   int64
 25  last_google_snap                                  3744 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(17), object(5)
memory usage: 789.8+ KB

In [68]:
for i in range(len(new2)):
    state = new2.iloc[i, 0]
    county = new2.iloc[i, 1]
    last_date_time = new2.last_date_time[i]

    filtet_table = new2.loc[(new2.datetime == last_date_time) & (new2.State == state) & (new2.County == county)]

    
    if len(filtet_table) != 0:
        # use iloc[r, c] to set cells
        new2.iloc[i, lookup['last_disaster']] = filtet_table.Disaster.values[0]
        new2.iloc[i, lookup['last_worker']] = filtet_table['Number of Workers'].values[0]
        #new2.iloc[i, lookup['last_snap']] = filtet_table.SNAP_Applications.values[0]
        new2.iloc[i, lookup['last_google_calfresh']] = filtet_table.google_calfresh.values[0]
        new2.iloc[i, lookup['last_google_food_bank']] = filtet_table.google_foodbank.values[0]
        new2.iloc[i, lookup['last_google_food_pantry']] = filtet_table.google_foodpantry.values[0]
        new2.iloc[i, lookup['last_google_food_stamps']] = filtet_table.google_foodstamp.values[0]
        new2.iloc[i, lookup['last_google_supplemental']] = filtet_table['google_supplemental nutrition assistance program'].values[0]
        #new2.iloc[i, lookup['last_google_snap']] = filtet_table.google_snap.values[0]

In [73]:
new2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 0 to 3743
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     3744 non-null   object
 1   County                    3744 non-null   object
 2   fipsValue                 3744 non-null   object
 3   PDensity                  3744 non-null   float64
 4   Population                3744 non-null   int64
 5   Year                      3744 non-null   int64
 6   Month                     3744 non-null   int64
 7   last_date_time            3744 non-null   object
 8   date_time                 3744 non-null   datetime64[ns]
 9   last_snap                 3744 non-null   int64
 10  last_worker               3744 non-null   int64
 11  last_disaster             3744 non-null   int64
 12  last_google_calfresh      3744 non-null   int64
 13  last_google_food_bank     3744 non-null   int64
 14  last_google_food_pantry   3744 non-null   int64
 15  last_google_food_stamps   3744 non-null   int64
 16  last_google_supplemental  3744 non-null   int64
 17  last_google_snap          3744 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(12), object(4)
memory usage: 684.8+ KB

In [70]:
new2.rename(columns={'Population Density':'PDensity', 'datetime':'date_time'}, inplace=True)

In [71]:
col = ['State',
 'County',
 'fipsValue',
 'PDensity',
 'Population',
 'Year',
 'Month',
 'last_date_time',
 'date_time',
 'last_snap',
 'last_worker',
 'last_disaster',
 'last_google_calfresh',
 'last_google_food_bank',
 'last_google_food_pantry',
 'last_google_food_stamps',
 'last_google_supplemental',
 'last_google_snap']

In [72]:
new2 = new2[col]

In [74]:
new2.to_excel('dataForPrediction_2022.xlsx')

### Need to get the prediction values first !!!